#btn {
	background-color: white;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease;
}
#btn:hover {
	color: black;
	background-color: yellow;
	border-radius: 30px;
}


/* Your CSS Code here. */